

<button *ngIf="!loggedIn" (click)="getRefreshToken()">Get Refresh Token</button>
<button *ngIf="loggedIn" (click)="login()">Login</button>




<p *ngIf="!loggedIn" style="float: center"> Your Logged In.</p>
<router-outlet></router-outlet>
